    
#adminUsers{
    position: absolute;
    width: 55vw;
    height: 70vh;
    top: 10vh;
    left: calc(50vw - 25vw);
}

.useradminselectioooooooooon{ //fuckit
  left: 40%;
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.adminUserAction:hover{
  background-color: #f5f5f5;
}

.isCafetier.isMember{
  display: none;
}

.isCafetier.confirmedAdmin.isMember{
  display: block;
}

.isNotCafetier.isNotMember{
  display: block;
}

.isNotCafetier.confirmedAdmin{
  display: none;
}

#adminUsers div.blur{
  -webkit-filter: blur(0.8px);
  -moz-filter: blur(0.8px);
  -o-filter: blur(0.8px);
  -ms-filter: blur(0.8px);
  filter: blur(0.8px);
}


/*  POPUP */
#userAdministrationPopup{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
