
#adminEditProduct{
    display: none;
}

.adminProductEditInput *{
    display: inline;
}

#addProduct{
    font-size: 4em;
}

#cancelEdition, #submitEdition{
    position: relative;
    z-index: 1;
}

#productSubtitle{
    width: 60%;
}
