.tile-title{
    font-size: 18px;
    font-weight: bolder;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 27vh;
    width: 25vw;
}

#button_addProductShoppingList{

    position: absolute;
    z-index: 1;
}

#shoppingListInput{
    position: absolute;
    padding: 0px;
    z-index: 0;
}
