/* #dashboardContainer{
  overflow-x: hidden;
  overflow-y: auto;
  width:auto;
} */

.tile-title{
    font-size: 18px;
    font-weight: bolder;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 27vh;
    width: 25vw;
}

#button_shoppingListAddProduct{

    position: absolute;
    z-index: 1;
}

#shoppingListInput{
    position: absolute;
    padding: 0px;
    z-index: 0;
}

#shoppingListProducts{
    max-height: 300px;
    overflow-y: scroll;
}
