
body{
    /* no selection */
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;

    /* position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden; */
}

.admin{
    visibility: collapse; /*some confilics whit "display: none"*/
    display: none; /*for elements that are okay with that*/
}

.pannel{
  display: none();
}

#login{
    margin-top: -20vh;
}


#loginPopup{

    display: none;

    position: absolute;
    top:7vh;
    right: 2vw;
    height: 10vh;
    width: 25vw;

    z-index: 100;
}

div.column.is-9.animated.fadeIn{
    /* overflow-y: scroll; */
}


img{
  border-radius: 5px;
}

div.column.superadmin{
  visibility: collapse;
  display: none;
}
