
#login{
  //display: none;
  margin-top: -20vh;
}
#loginPopup{
  display: none;
  position: absolute;
  top:7vh;
  right: 2vw;
  height: 10vh;
  width: 25vw;

  z-index: 100;
}

#userSelection{
  display: none;

  width: 600px;
  height: 1000px;
  margin-top: 10vh;
}

#dashboard{
 display: none;
}

#order{
  display: none;
}
