
article.tile:hover, article.media p:hover{
  background-color: #f5f5f5;

  cursor: pointer;
}

.validate-button{
    background-color: #4577dc !important;
}

.cancel-button{
    background-color: #db3535 !important;
}

.total{
    margin-top: 25px;
}
