
article.tile:hover, article.media p:hover{
  background-color: #f5f5f5;

  cursor: pointer;
}

.validate-button{
    background-color: #4577dc !important;
}

.cancel-button{
    background-color: #db3535 !important;
}

.total{
    margin-top: 25px;
}

div.column.is-4 aside.box{
  overflow-x: hidden;
}
#commandList{
  height: 50vh;
  width: 26vw;
  overflow-y: scroll;
}

.order-small-modifiers{
  display: flex;
  flex-direction: column;
}
.order-small-modifiers div{
  height: 17px;
  width: 5px;
}
.order-small-modifiers div i{
  height: 10px;
  width: 10px;
}
