<section class="hero is-fullheight animated fadeIn">

    <div class="container">
        <div class="column is-4 is-offset-4">
            <h3 class="title has-text-grey">Gérez votre compte</h3>
            <p class="subtitle has-text-grey">Modifiez votre adresse mail, mot de passe, etc...</p>
            <div class="box">
                <form>

                    <div class="field">
                        <label class="label">Nom</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="De la Fuerte" id="editFaName">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user-circle"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Prénom</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Alberto" id="editFiName">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user-circle"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Pseudo (optionnel)</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="PurplePachyderm" id="editPseudo">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user-astronaut"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Adresse e-mail</label>
                        <div class="control has-icons-left">
                            <input class="input" type="email" placeholder="arveto.softwares@gmail.com" id="editEmail">
                            <span class="icon is-small is-left">
                                <i class="fas fa-at"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Mot de passe</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" placeholder="Nouveau mot de passe (facultatif)" id="editPassword1">
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Mot de passe (confirmation)</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" placeholder="Validation" id="editPassword2">
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                    </div>

                    <div id="submitEdit" class= "button is-block is-large is-fullwidth">Editer</div>

                </form>
            </div>
        </div>
    </div>

</section>
