
<div class="box animated fadeIn">
    <div class="column is-12">
        <div class="card-content">
            <div class="content">
                <div class="control has-icons-left has-icons-right">
                    <input id="adminUsersInput" class="input is-large" type="text" placeholder="">
                    <span class="icon is-medium is-left">
                        <i class="fa fa-search"></i>
                    </span>
                    <span class="icon is-medium is-right">
                        <i class="fa fa-check"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="useradminselectioooooooooon" id="userSelectionEdit">
        </div>
    </div>
</div>


</div>
<section id="userAdministrationPopup" class="hero is-fullheight animated fadeIn" style='display: none;'>
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <figure class="avatar">
                        <img src="img/logo.jpg" class="login-avatar">
                    </figure>
                    <form>
                        <div class="title userAdminName">
                            Editer utilisateur:
                        </div>

                        <div class="field">
                            <div class="control">
                                <b>Prénom :</b>
                                <input id='userAdmin_fiName' class="input is-large" type="text"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <b>Nom :</b>
                                <input id='userAdmin_faName' class="input is-large" type="text"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <b>Pseudo :</b>
                                <input id='userAdmin_pseudo' class="input is-large" type="text"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <b>Email :</b>
                                <input id='userAdmin_email' class="input is-large" type="email"/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <b>Boulaisses :</b>
                                <input id='userAdmin_money' class="input is-large" type="number"/>
                            </div>
                        </div>
                        <div id="userAdmin_apply" class="button is-block is-large is-fullwidth">Éditer</div>
                    </form>
                </div>
            </div>
        </div>
    </section>
