<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Login</h3>
                <div class="box animated fadeIn">
                    <figure class="avatar">
                        <img src="img/logo.jpg" class="login-avatar">
                    </figure>
                    <form>
                        <!--<div class="title">
                        <%= user %>
                    </div>-->

                    <div class="field">
                        <div class="control">
                            <input id='loginAdmin' class="input is-large login" type="text" placeholder="E-mail" autofocus/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input id='password' class="input is-large password" type="password" placeholder="Mot de passe" />
                        </div>
                    </div>
                    <div id="submitLogin" class="button is-block is-large is-fullwidth">Login</div>
                </form>
            </div>
            <p class="has-text-grey">
                <a id="toSignUp" href="#">Créer un compte</a> &nbsp;·&nbsp;
                <a href="#">Mot de passe oublié</a> &nbsp;·&nbsp;
                <a href="#">Help?</a>
            </p>

            <%# <div id="toSignUp" class="has-text-grey">
                Pas de compte? Créez-en un ici.
            </div> %>
        </div>
    </div>
</div>
</section>
