<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Login</h3>
                <p class="subtitle has-text-grey">Administrateur</p>
                <div class="box animated fadeIn">
                    <figure class="avatar">
                        <img src="img/logo.jpg" class="login-avatar">
                    </figure>
                    <form>
                        <div class="title">
                            <%= user %>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input id='email' class="input is-large password" type="password" placeholder="Addresse mail" autofocus/>
                                <input id='password' class="input is-large password" type="password" placeholder="Mot de passe" autofocus/>
                            </div>
                        </div>
                        <div id="submitLogin" class= "button is-block is-large is-fullwidth">Login</div>
                    </form>
                </div>
                <div id="toSignUp" class="has-text-grey">
                    Pas de compte? Créez-en un ici.
                </div>
            </div>
        </div>
    </div>
</section>
