
  <div class="container">
    <div class="columns">

      <div class="column is-9">
        <section class= <% if(theme=='BLUE'){ %> "hero is-info welcome is-small" <% }else{ %> "hero is-danger welcome is-small" <% } %> >
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Commande pour : Calcado
              </h1>
              <h2 class="subtitle">
                Select products!
              </h2>
            </div>
          </div>
        </section>

        <section class="info-tiles">
          <div class="tile is-ancestor has-text-centered">
            <%
            let i
            for (i=0 ; i<products.length; i++ ) {

                if (i!=0 && i%4 == 0){
              %>
                </div>
                <div class="tile is-ancestor has-text-centered">
              <%
                }
              %>

              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title"><%=products[i].name%></p>
                  <p class="subtitle"><%=products[i].price%>€</p>
                </article>
              </div>

            <%
              }

              if (i!=0 && i%4 == 0){
            %>
              </div>
            <%
              }
            %>
        </section>
        </div>


        <div class="column is-4">
          <aside class="box">
            <div class="level">
              <div class="title level-left">Commande</div>
              <button class= <% if(theme=='BLUE'){ %> "button level-right is-right is-large is-info" <% }else{ %> "button level-right is-right is-large is-danger" <% } %>>
              <span class="icon is-medium is-left">
                <i class="fa fa-arrow-right"></i>
              </span>
            </button>
            </div>
            <article class="media">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Senzu rouge</strong><br/>
                    <small>Prix <a>100k</a>€</small>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <button class="delete is-big"></button>
              </div>
            </article>

            <article class="media">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Senzu bleu</strong><br/>
                    <small>Prix <a>100k</a>€</small>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <button class="delete is-big"></button>
              </div>
            </article>

            <article class="media">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Senzu vert</strong><br/>
                    <small>Prix <a>100k</a>€</small>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <button class="delete is-big"></button>
              </div>
            </article>

            <article class="media">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Senzu jaune</strong><br/>
                    <small>Prix <a>100k</a>€</small>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <button class="delete is-big"></button>
              </div>
            </article>

          </aside>
        </div>
      </div>
    </div>
