<section class="hero is-fullheight">

        <div class="container">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Création de compte</h3>
                <p class="subtitle has-text-grey">Rejoignez l'ESSAIM!</p>
                <div class="box animated fadeIn">
                    <form>

                        <div class="field">
                          <label class="label">Nom</label>
                          <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="De la Fuerte" id="faName">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user-circle"></i>
                            </span>
                          </div>
                        </div>

                        <div class="field">
                          <label class="label">Prénom</label>
                          <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Alberto" id="fiName">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user-circle"></i>
                            </span>
                          </div>
                        </div>

                        <div class="field">
                          <label class="label">Pseudo (optionnel)</label>
                          <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="PurplePachyderm" id="pseudo">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user-astronaut"></i>
                            </span>
                          </div>
                        </div>

                        <div class="field">
                          <label class="label">Adresse e-mail</label>
                          <div class="control has-icons-left">
                            <input class="input" type="email" placeholder="arveto.softwares@gmail.com" id="emailSignup">
                            <span class="icon is-small is-left">
                                <i class="fas fa-at"></i>
                            </span>
                          </div>
                        </div>

                        <div class="field">
                          <label class="label">Mot de passe</label>
                          <div class="control has-icons-left">
                            <input class="input" type="password" placeholder="Ca, c'est un secret ;)" id="password1">
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                          </div>
                        </div>

                        <div class="field">
                          <label class="label">Mot de passe (confirmation)</label>
                          <div class="control has-icons-left">
                            <input class="input" type="password" placeholder="Ca aussi" id="password2">
                            <span class="icon is-small is-left">
                                <i class="fas fa-key"></i>
                            </span>
                          </div>
                        </div>

                        <div id="submitSignup" class= "button is-block is-large is-fullwidth">Valider</div>

                    </form>
                </div>
            </div>
        </div>

</section>
