<div class="columns is-mobile is-centered">
 <div class="column is-6" style: "padding: 25px;">

<!-- Banner -->
<section class="hero welcome is-small" style="margin-bottom: 30px;">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Mon solde
            </h1>
            <h2 class="subtitle">
                Et autres infos utiles
            </h2>
        </div>
    </div>
</section>

<!-- Content -->
<section class="info-tiles">
    <div class="tile is-ancestor is-centered">
        <div class="tile is-vertical is-parent is-4">
            <div class="tile is-child box">
                <p class="title" id="ownSold">Mon solde: 42.42€</p>
            </div>
            <div class="tile is-child box">
                <p class="title">Recharger son compte</p>
                <p>Pour recharger votre compte, addressez-vous à un cafetier.</p>
                <p>Le paiement peut être effectué en liquide ou via LyfPay.</p>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <p class="title">Procédure de paiement</p>
                <ul>
                    <li>
                        Lorsque vous passez une commande, son montant est automatiquement déduit de votre solde.
                    </li>
                    <li>
                        <br>
                        Vous pouvez aussi payer en liquide ou via LifPay si vous le désirez.
                    </li>
                    <li>
                        <br>
                        A terme, il sera aussi possible d'envoyer des précommandes afin d'être servi plus rapidement.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


</div>
</div>
