<div class="box animated fadeIn">
    <div class="column is-12">
        <header class="card-header">
            <p class="title">
                Prendre commande pour :
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
            </a>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="control has-icons-left has-icons-right">
                    <input id="userSelectionInput" class="input is-large" type="text" placeholder="">
                    <span class="icon is-medium is-left">
                        <i class="fa fa-search"></i>
                    </span>
                    <span class="icon is-medium is-right">
                        <i class="fa fa-check"></i>
                    </span>
                </div>
            </div>
        </div>

        <div id="userSelectionOrder">

            <!-- Prof card -->
            <article class="media user0">
                <figure class="media-left">
                    <p class="image is-48x48">
                        <img src="https://api.adorable.io/avatars/100/Nan mais t'as rien de mieux à faire que de lire ce code, toi?.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Prof</strong><small class="-1 admin-in-charge"></small><br/>
                            <small>Externes, clients sans compte, etc...</a>
                            </small>
                        </p>
                    </div>
                </div>
                <div class="media-right">
                    <button class="button orderProf is-medium is-success 0" onclick="bindProfOrder()">
                        <span class="icon is-large is-left">
                            <i class="fa fa-arrow-right"></i>
                        </span>
                    </button>
                </div>
            </article>

        </div>

    </div>
</div>
