<div class="box animated fadeIn">
    <div class="column is-12">
        <header class="card-header">
            <p class="title">
                Prendre commande pour :
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
            </a>
        </header>
        <div class="card-content">
            <div class="content">
                <div class="control has-icons-left has-icons-right">
                    <input id="userSelectionInput" class="input is-large" type="text" placeholder="">
                    <span class="icon is-medium is-left">
                        <i class="fa fa-search"></i>
                    </span>
                    <span class="icon is-medium is-right">
                        <i class="fa fa-check"></i>
                    </span>
                </div>
            </div>
        </div>

        <div id="userSelectionOrder">

        </div>

    </div>
</div>
